.content {
  position: relative;
  height: calc(1vh*100);
  overflow: hidden;
  content-visibility: auto;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contentIntro {
  animation-name: intro;
  animation-duration: 2s;
}

@keyframes intro {
  from {
    clip-path: inset(0 50% 0 50%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* width: 100vw; */
  /* width: 1440px;
  height: 713px;
  top: calc(((1vh * 100) - 713px) / 2);
  left: calc((100vw - 1440px) / 2);
  content-visibility: auto; */
}

.gridElements {
  display: grid;
  grid-template-columns: repeat(5, 420px);
  /* width: 100%; */
}

.gridElements .element {
  padding: 42px 40px;
  width: 420px;
  height: 400px;
}

.gridElements .thumbnailWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.listElements {
  overflow: auto hidden;
  height: calc(1vh * 100);
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  align-items: center;
  padding: 0px 10vmin;
}

.listElements .element {
  width: 70vmin;
  height: 70vmin;
  margin: 0px 5vw;
}