.infoContainer {
    display: flex;
    max-width: 100vw;
    animation-name: intro;
    animation-duration: 2s;
}

@keyframes intro {
    from {clip-path: inset(0 50% 0 50%);}
    to {clip-path: inset(0 0 0 0);}
}

.leftSide {
    width: 50%;
    padding: 2rem;
}

.rightSide {
    width: 50%;
    padding: 2rem;
}

.rightSide p {
    font-family: 'Lora', serif;
    font-size: 1.2em;
    line-height: 1.3em;
}

.leftSide img {
    width: 100%;
}

.backButton {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: none;
    border: none;
    border: 1px solid black;
    padding: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.backButton:hover {
    background-color: black;
    color: white;
}

.homeButton button svg {
    stroke-width: 1px;
}

.homeButton button:hover {
    background-color: black;
    color: white;
}

.instagram {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .infoContainer {
        display: block;
        max-width: 100vw;
    }

    .leftSide {
        width: 100%;
        padding: 2rem;
    }
    
    .rightSide {
        width: 100%;
        padding: 2rem;
        padding-top: 0;
    }
}

/* .container img {
    width: 50%;
} */